<h2 class="content-head is-center">Homepage Test</h2>

<div class="pure-g">
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    	<h3 class="content-subhead">
            <i class="fa fa-rocket"></i>
            First Item
        </h3>
        <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
    </div>
    
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    	<h3 class="content-subhead">
            <i class="fa fa-rocket"></i>
            Second Item
        </h3>
        <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
    </div>
    
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    	<h3 class="content-subhead">
            <i class="fa fa-rocket"></i>
            Third Item
        </h3>
        <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
    </div>
    
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    	<h3 class="content-subhead">
            <i class="fa fa-rocket"></i>
            Fourth Item
        </h3>
        <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
    </div>
</div>